<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1035667727276-33uemsdsi03kmgnvhn40c5a9vb5753ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035667727276-33uemsdsi03kmgnvhn40c5a9vb5753ma</string>
	<key>API_KEY</key>
	<string>AIzaSyBBabva8xEEj8ZYwpGs1an_g91_gfF_Kug</string>
	<key>GCM_SENDER_ID</key>
	<string>1035667727276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buttonsAndLights.HoneyDew</string>
	<key>PROJECT_ID</key>
	<string>honeydew-d031e</string>
	<key>STORAGE_BUCKET</key>
	<string>honeydew-d031e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035667727276:ios:1c59de372384af43</string>
	<key>DATABASE_URL</key>
	<string>https://honeydew-d031e.firebaseio.com</string>
</dict>
</plist>